# xcode
xcuserdata
*.gcno

# osx noise
.DS_Store
profile
DerivedData

# Fastlane
fastlane/cookies.txt
fastlane/commitSha.txt
fastlane/report.xml

# AppCode
.idea/

# Cocoapods
Pods/
MyCombine1Playground.playground/playground.xcworkspace/contents.xcworkspacedata
